.cardProducto {
    background-color: #ffffff;
    border-radius: 8px;
    width: 15rem;
    padding: 0rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cardProducto:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgProducto {
    width: 100%;
    object-fit: contain;
    border-radius: 8px 8px 0px 0px;
    filter: grayscale(0);
        transition-property: filter;
        transition-duration: 3s;   
}
.imgProducto:hover{
    filter: grayscale(1);
        transition-property: filter;
        transition-duration: 3s;   
}

.btnProducto {
    background-color: #373d20;
    color: white;
    font-size: 1.2rem;
    width: 8rem;
    border-radius: 10px;
    border: none;
}